<app-header></app-header>

<table mat-table [dataSource]="list" class="mat-elevation-z8" *ngIf="loading==false">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.Id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef> Room </th>
    <td mat-cell *matCellDef="let element"> {{element.Room}} </td>
  </ng-container>

  <ng-container matColumnDef="ip">
    <th mat-header-cell *matHeaderCellDef> Ip </th>
    <td mat-cell *matCellDef="let element"> {{element.Ip}} </td>
  </ng-container>

  <ng-container matColumnDef="DeviceType">
    <th mat-header-cell *matHeaderCellDef> Device Type </th>
    <td mat-cell *matCellDef="let element"> {{element.DeviceType}} </td>
  </ng-container>

  <ng-container matColumnDef="mqttTopics">
    <th mat-header-cell *matHeaderCellDef> Mqtt Topics </th>
    <td mat-cell *matCellDef="let element"> {{element.MqttTopics}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"> <button mat-button show="show" (click)="openDialogExist(element.Id)"
        class="btn blue">Edit</button> </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> <button (click)="onDelete(element.Id)" mat-button
        class="btn red">Delete</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="container" *ngIf="loading==false">
  <button mat-raised-button class="btn" (click)="openDialog()">Add new device</button>
</div>
<mat-progress-spinner mode="indeterminate" *ngIf="loading==true"></mat-progress-spinner>