@import '../../styles.scss';

.container {
  @include container;
  .btn {
    background: $green;
    width: 30vw;
    height: 3em;
    &:active, &:focus{
      border:none
    }
  }
}
table{
  @include table;
  .btn{
        border: none;
        color: $white
    }
    .red{
        background: $red
    }
    .blue{
        background: rgb(0, 162, 255)
    }
}