@import '../../styles.scss';
table{
    width: 80vw;
    margin-left:10%;
    margin-top: 1em;
    .btn{
        border: none;
        color: $white
    }
    .red{
        background: $red
    }
    .green{
        background: $green
    }
}