@import '../../styles.scss';
table{
 @include table;
}
 .btn{
        border: none;
        color: $white;

    }
.red{
        background: $red
}
.green{
        background: $green
}
.container{
    @include container;
}