<form class="example-form">
  <h1 mat-dialog-title>Edit Device</h1>
  <div mat-dialog-content class="form">
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.Id" [ngModelOptions]="{standalone: true}" matInput placeholder="id"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.Name" [ngModelOptions]="{standalone: true}" matInput placeholder="Name"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.Ip" [ngModelOptions]="{standalone: true}" matInput placeholder="IP"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.Room" [ngModelOptions]="{standalone: true}" matInput placeholder="Room"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.DeviceType" [ngModelOptions]="{standalone: true}" matInput
        placeholder="Device Type "></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="data.MqttTopics" [ngModelOptions]="{standalone: true}" matInput
        placeholder="MQTT Title"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn red" (click)="onNoClick()">Go back</button>
    <button mat-button class="btn green" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>

</form>